* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  overflow-x: hidden;
}
.wrapper {
  width: 100vw;
  display: flex;
  flex-direction: column;
}
.main-screen {
  height: 812px;
  background-color: #000;
  text-align: center;
}
.main-screen h1 {
  padding-top: 290px;
  font-size: 50px;
  font-family: "GOTHICB";
  font-weight: bold;
  font-style: normal;
  color: #fff;
  letter-spacing: 2px;
  position: relative;
  z-index: 5;
}

.main-screen h2 {
  padding-top: 40px;
  color: #fff;
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
}
.main-img {
  position: absolute;
  z-index: 10;
}
.duck, .giraffe, .hole-first, .hole-second, .hole-eyes {
  position: relative;
  z-index: 3;
}
.duck {
  top: 180px;
  left: 350px;
  width: 70px;
}
.giraffe {
  top: 180px;
  left: 200px;
  width: 80px;
}
.hole-first {
  top: -490px;
  width: 50px;
}
.hole-second {
  top: -320px;
  left: 380px;
  width: 50px;
}
.hole-eyes {
  top: -450px;
  left: -400px;
  width: 70px;
}
.hole-down {
  top: 40px;
  width: 70px;
}
.second-part {
  height: 812px;
  background: repeating-linear-gradient(90deg, #000 0, #000 22px, #F4D80F 22px, #F4D80F 44px, #000 44px, #000 68px, #F4D80F 68px, #F4D80F 90px);
  width: 100vw;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.second-part .black-area {
  height: 360px;
  width: 100vw;
  background-color: #000;
  padding: 61px 0 0 30px;
  margin-top: 180px;
}

.second-part .black-area h3 {
  width: 309px;
  color: #fff;
  font-family: "GOTHICB";
  font-weight: bold;
  font-size: 25px;
  line-height: 130%;
}

.second-part .black-area article {
  width: 309px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 150%;
  padding-top: 36px;
}
.line {
  margin-top: 150px;
  z-index: 2;
  position: absolute;
  left: -10%;
  top: 10%;
  width: 110%;
}
.second-line {
  margin-top: 350px;
  z-index: 2;
  position: absolute;
  top: 30%;
  left: -10%;
  width: 110%;
}
.morpf {
  margin-top: 180px;
  height: 900px;
  width: 100vw;
  background-image: repeating-linear-gradient(90deg, #000 0, #000 22px, #FFF 22px, #FFF 44px, #000 44px, #000 68px, #FFF 68px, #FFF 90px);
}
.morpf svg {
  position: absolute;
  top: 1670px;
  left: -300px;
  width: 150%;
  stroke:#F4D80F;
}
.letter {
  position: absolute;
  z-index: 7;

}

@media (min-width: 486px) {
  .main-screen {
    height: 960px;
  }
  .line {
    margin-top: 120px;
  }
  .main-screen h1 {
    font-size: 65px;
  }
  .main-screen h2{
    font-size: 32px;
  }
  .second-part {
    height: 1088px;
    background: repeating-linear-gradient(90deg, #000 0, #000 44px, #F4D80F 44px, #F4D80F 88px, #000 88px, #000 132px, #F4D80F 132px, #F4D80F 176px);
  }
  .second-part .black-area {
    height: 484px;
    padding: 127px 0 0 58px;
  }
  .second-part .black-area h3 {
    font-size: 37px;
    width: 803px;
  }
  .second-part .black-area article {
    font-size: 25px;
    width: 630px;
  }
  .morpf {
    background-image: repeating-linear-gradient(90deg, #000 0, #000 44px, #FFF 44px, #FFF 88px, #000 88px, #000 132px, #FFF 132px, #FFF 176px);
  }
  .morpf svg {
    top: 2000px;
  }
}
@media (min-width: 1024px) {
  .main-screen {
    height: 1024px;
  }
  .line {
    margin-top: 40px;
  }
  .second-part .black-area {
    padding: 150px 0 0 309px;
  }
  .morpf {
    height: 1500px;
  }

}
